body{
    background-color: rgb(190, 190, 190);
}
table{
    width: "700px"; 
    height:"800px"; 
    margin-left: auto; 
  margin-right: auto;
}
#columnLeft{
    background-color: rgb(51, 204, 51);
    width="250px";
    color: white; 
    padding:20px
}
#columnRight{
    width: 450px;
    background-color: rgb(253, 254, 254);
    padding:10px;
}
img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding-left: 10px;
}
#git{
    color:white;
}